<div class="card card--stack">
  <div class="card__tags">
    <span class="label success">Идет</span>
  </div>
  <div class="card-section">
    <h3 class="card__title">Расписание</h3>
    <div class="v-scroll" style="max-height: 300px;">
      {{#repeat 5}}
        <div class="timetable-short">
          <span class="h5 body-color">301 кабинет</span><br>
          <span class="medium-gray-color">Вильгельма пика, 8 корпус</span><br>
          <span>Основы электродинамики</span><br>
          <span class="medium-gray-color margin-0">ПМЭ Д - 1 -Б-2</span>
        </div>
      {{/repeat}}
    </div>
  </div>
</div>