<div class="card">
  <div class="card-section">
    <h3 class="card__title">Показатели РИНЦ</h3>
    <div class="chart-container" width="100%" height="300px">
      <canvas id="rinc" ></canvas>
      <!--<script src="{{root}}assets/vendor/chart.bundle.min.js"></script>-->
      <script>
        $(document).ready(function(){
          var ctx = document.getElementById('rinc');
          var kpi_radar = new Chart(ctx, {
            type: 'line',
            data: {
              labels: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь' ],
              datasets: [{
                label: 'Показатели РИНЦ за полгода',
                data: [95, 75, 40, 60, 73, 88],
                fill: false,
                borderColor: '#3464E0',
                borderWidth: 4,
                pointBorderWidth: 4,
                pointBorderColor: '#3464E0',
                pointBackgroundColor: '#3464E0'
              }]
            },
            options: {
              aspectRatio: 1,
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });
        });
      </script>
    </div>
  </div>
</div>