<div class="card card--stack">
  <div class="card-section">
    <h3 class="card__title">Онлайн сервисы</h3>
    <ul class="no-bullet v-scroll" style="max-height: 300px;">
      <li class="margin-bottom-1"><a href="#">Система дистанционного обучения</a></li>
      <li class="margin-bottom-1"><a href="#">Официальный сайт</a></li>
      <li class="margin-bottom-1"><a href="#">Корпоративная почта</a></li>
      <li class="margin-bottom-1"><a href="#">Онлайн библиотека</a></li>
      <li class="margin-bottom-1"><a href="#">Система дистанционного обучения</a></li>
      <li class="margin-bottom-1"><a href="#">Официальный сайт</a></li>
      <li class="margin-bottom-1"><a href="#">Корпоративная почта</a></li>
      <li class="margin-bottom-1"><a href="#">Онлайн библиотека</a></li>
    </ul>
  </div>
</div>