<div class="card card--stack">
  <div class="card-section">
    <h3 class="card__title padding-0">Именинники <span class="card__title__controls"><a href="#" class="card__title__toggler is-active">сегодня</a>/<a href="#" class="card__title__toggler">завтра</a></span></h3>
    <div class="card-section-placeholder">
      нет именинников
    </div>
    <!--
    <div class="persons-list v-scroll" style="max-height: 300px;">
      {{> card-person name='Солодуха Петр Викторович' image='avatar.png' image-size='static' desc='Декан экономического факультета'}}
      {{> card-person name='Скороходова Елена Юрьевна' image='dude-1.png' image-size='static' desc='Заведующий кафедрой'}}
      {{> card-person name='Лобазова Ольга Федоровна' image='avatar.png' image-size='static' desc='Профессор кафедры философии'}}
      {{> card-person name='Солодуха Петр Викторович' image='avatar.png' image-size='static' desc='Декан экономического факультета'}}
      {{> card-person name='Скороходова Елена Юрьевна' image='dude-1.png' image-size='static' desc='Заведующий кафедрой'}}
      {{> card-person name='Лобазова Ольга Федоровна' image='avatar.png' image-size='static' desc='Профессор кафедры философии'}}
    </div>
    -->
  </div>
</div>