<form class="form form-timetable">
  <div class="grid-x align-center">
    <div class="cell large-10">
      <fieldset class="form-timetable-search">
        <input type="search" placeholder="Поиск по группе"/>
        <button type="button"><svg viewbox="0 0 32 32"><use xlink:href="#search"></use></svg></button>
      </fieldset>
      <fieldset class="form-timetable-filter">
        <div class="button-group large-justify-center">
          <button type="button" class="round primary button">24.03. 2020 - 01.04. 2020</button>
          <button type="button" class="round light-gray button">02.04. 2020 - 08.04. 2020</button>
          <button type="button" class="round light-gray button">09.04. 2020 - 16.04. 2020</button>
          <button type="button" class="round light-gray button">17.04. 2020 - 25.04. 2020</button>
        </div>
      </fieldset>
    </div>
  </div>
</form>