<form class="form form-person-contact">
  <fieldset>
    <div class="field">
      <label for="person-contact-subject">Тема</label>
      <select id="person-contact-subject" data-xp="required: true">
        <option value="Общий вопрос">Общий вопрос</option>
      </select>
    </div>
    <div class="field">
      <label for="person-contact-question">Ваш вопрос</label>
      <textarea id="person-contact-question" rows="7" data-xp="required: true"></textarea>
    </div>
    <input type="submit" class="button margin-0" value="Отправить" data-xp="enabled_on_completed: true">
  </fieldset>
</form>