.form__password, .form__sms {
  background-color: #f2f4f8;
}

.form__title {
  padding-top: 20px;
}

.form__description {
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 13px;
}

.form__password-phone {
  display: block;
}

.form__field {
  padding: 0 20px;
  width: 100%;
  font-size: 14px;
  .field.sms {
    width: 100%;
  }
  .button.sms {
    width: 100%;
    font-size: 14px;
  }
  .invalid {
    border-color: #E06364;
    box-shadow: 0 0 0 2px rgba(224, 99, 100, 0.5);
  }
}

.form__success {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}