.form-pass {
    width: 450px;
    padding: 0 48px;
    p {
        color: $medium-gray;
        font-size: 14px;
        line-height: 21px;
    }
    label {
        &::after {
            content: " *";
            color: #e06364;
        }
    }
}
