<div class="popup small mfp-hide" id="popup-sms">
    <div class="popup-content">
        <div class="text-center">

            <p class="popup-title">Подтверждение</p>
            <p class="medium-gray-color">SMS код действителен: 60 секунд</p>
            <div class="cell medium-6">
                <div class="field sms">
                    <label for="reg-phone">Введите код</label>
                    <input type="tel" placeholder="*****" class="phone-mask" id="reg-phone" data-xp="required: true">
                </div>
            </div>
            <a href="#" class="button primary-color sms " data-close>Подтвердить смену пароля</a>
        </div>
    </div>
</div>
</div>