<div class="popup small mfp-hide" id="popup-password">
    <div class="popup-content">
        <div class="text-center">
            <p class="popup-title">Пароль изменен</p>
            <i class="big-icon success-color">
                <svg viewbox="0 0 32 32">
                    <use xlink:href="#shield"></use>
                </svg>
            </i>
            <p class="medium-gray-color popup-descr">Ваш пароль изменен успешно! <br> Теперь Вы можете войти на портал.</p>
            <a href="#" class="button success button margin-0 password" data-close>Войти</a>
        </div>
    </div>
</div>