<ul class="accordion" data-accordion>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Образование<span class="label round">1</span></a>
    <button data-mfp-src="#popup-addexperience" class="accordion-add inline-popup small hollow button margin-0 hide-for-print">Добавить&nbsp;+</button>
    {{> popup-addexperience}}
    <div class="accordion-content" data-tab-content>
      <div class="table-scroll">
        <table class="hover">
          <thead>
            <tr>
              <th></th>
              <th>Год окончания</th>
              <th>Наименование учебного заведения</th>
              <th>Специальность&nbsp;/ направление подготовки</th>
              <th>Квалификация</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <form>
                  <div class="pretty p-icon p-toggle">
                    <input type="checkbox" checked/>
                    <div class="state p-success-o p-on">
                      <i class="icon fal fa-eye"></i>
                    </div>
                    <div class="state p-danger-o p-off">
                      <i class="icon fal fa-eye-slash"></i>
                    </div>
                  </div>
                </form>
              </td>
              <td>2001</td>
              <td>ФГБОУ РГСУ</td>
              <td>Экономика</td>
              <td>Экономист</td>
              <td>
                <div class="article-card__controls" style="position: static">
                  <button type="button" class="primary-color" title="Редактировать"><svg viewBox="0 0 32 32"><use xlink:href="#pencil-2"></use></svg></button>
                  <button type="button" class="alert-color" title="Удалить"><svg viewBox="0 0 32 32"><use xlink:href="#cross"></use></svg></button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <form>
                  <div class="pretty p-icon p-toggle">
                    <input type="checkbox" checked/>
                    <div class="state p-success-o p-on">
                      <i class="icon fal fa-eye"></i>
                    </div>
                    <div class="state p-danger-o p-off">
                      <i class="icon fal fa-eye-slash"></i>
                    </div>
                  </div>
                </form>
              </td>
              <td>2001</td>
              <td>ФГБОУ РГСУ</td>
              <td>Экономика</td>
              <td>Экономист</td>
              <td>
                <div class="article-card__controls" style="position: static">
                  <button type="button" class="primary-color" title="Редактировать"><svg viewBox="0 0 32 32"><use xlink:href="#pencil-2"></use></svg></button>
                  <button type="button" class="alert-color" title="Удалить"><svg viewBox="0 0 32 32"><use xlink:href="#cross"></use></svg></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Диссертации<span class="label round">2</span></a>
    <div class="accordion-content" data-tab-content>
      <p class="margin-0 text-center">Нет данных</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Ученые звания<span class="label round">4</span></a>
    <div class="accordion-content" data-tab-content>
      <p class="margin-0 text-center">Нет данных</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Опыт работы<span class="label round">11</span></a>
    <div class="accordion-content" data-tab-content>
      <p class="margin-0 text-center">Нет данных</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Повышение квалификации</a>
    <div class="accordion-content" data-tab-content>
      <p class="margin-0 text-center">Нет данных</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Педагогический опыт</a>
    <div class="accordion-content" data-tab-content>
      <p class="margin-0 text-center">Нет данных</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Учебная нагрузка</a>
    <div class="accordion-content" data-tab-content>
      <p class="margin-0 text-center">Нет данных</p>
    </div>
  </li>
  <li class="accordion-item" data-accordion-item>
    <a href="#" class="accordion-title">Инновационные образовательные технологии</a>
    <div class="accordion-content" data-tab-content>
      <p class="margin-0 text-center">Нет данных</p>
    </div>
  </li>
</ul>